#modal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.container{
  margin-top: 15px;
}
  
#footer{
  width:100%;
  position:absolute;
  bottom:0px;
  text-align:center;
  height: 30px;
  background-color: #337ab7;
  color: #fff;
}

 .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }


